<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/asset/css/create.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div class="nav">Tạo tài khoản</div>
      <a href="/controller"
        ><button class="btn-primary" type="submit">Hủy</button></a
      >
      <div class="form-create">
        <form action="/create" method="post">
          <div>
            <label for="">Họ và tên</label>
            <input type="text" name="name" required />
          </div>
          <div>
            <label for="">Tuổi</label>
            <input type="number" name="age" required />
          </div>
          <div>
            <label for="">Địa chỉ</label>
            <input type="text" name="address" required />
          </div>
          <div>
            <label for="">Tên lớp</label>
            <input type="text" name="class" required />
          </div>
          <div>
            <label for="">Toán</label>
            <input type="number" name="math" required />
          </div>
          <div>
            <label for="">Lý</label>
            <input type="number" name="physic" required />
          </div>
          <div>
            <label for="">Hóa</label>
            <input type="number" name="chemistry" required />
          </div>
          <div>
            <label for="">Tên đăng nhập</label>
            <input type="text" name="users" required />
          </div>
          <div>
            <label for="">Mật khẩu</label>
            <input type="password" name="pass" required />
          </div>
          <div class="form-option">
            <label for="">Loại tài khoản</label>
            <select name="role" class="option">
              <option value="1">admin</option>
              <option value="1">users</option>
            </select>
          </div>
          <button type="reset" class="btn-primary loat-left">Reset</button>
          <div class="form-reset">
            <button type="submit" class="btn-reset">Tạo</button>
          </div>
        </form>
      </div>
      <div class="nav nav-bottom"></div>
      <div class="nav nav-footer">Case study moduble 3</div>
    </div>
  </body>
</html>
