<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/asset/css/edit.score.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div class="nav">Bảng điểm thi</div>
      <table class="score">
        <thead class="description">
          <tr>
            <th class="subject-name">Toán</th>
            <th class="subject-name">Lý</th>
            <th class="subject-name">Hóa</th>
          </tr>
        </thead>
        <tbody class="details">
          <tr>
            {change}
          </tr>
        </tbody>
      </table>
      <a href="/admin"
        ><button class="btn-primary" type="submit">Về trang chính</button></a
      >
    </div>
  </body>
</html>
