<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/asset/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <a href="/controller"
        ><button class="btn-primary loat-left" type="submit">
          Quản lý tài khoản
        </button></a
      >
      <div class="nav">Quản lý học sinh</div>
      <table class="score">
        <thead class="description">
          <tr>
            <th class="subject-name">Tên</th>
            <th class="subject-name">Tuổi</th>
            <th class="subject-name">Địa chỉ</th>
            <th class="subject-name">Lớp</th>
          </tr>
        </thead>
        <tbody class="details">
          {change}
        </tbody>
      </table>
      <a href="/admin"
        ><button class="btn-primary" type="submit">Trở lại</button></a
      >
    </div>
  </body>
</html>
