<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/asset/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div class="nav">Quản lý học sinh</div>
      <table class="score">
        <thead class="description">
          <tr>
            <th class="subject">STT</th>
            <th class="subject-name">Tên</th>
            <th class="subject-name">Tuổi</th>
            <th class="subject-name">Lớp</th>
            <th class="subject-name avg-score">Xếp loại</th>
          </tr>
        </thead>
        <tbody class="details">
          {change}
        </tbody>
      </table>
      <button class="btn-primary" type="submit">Thoát</button>
    </div>
  </body>
</html>
